[Unit]
Description=WynCommand Telemetry Agent
Wants=network-online.target tailscaled.service
After=network-online.target tailscaled.service

[Service]
Type=simple
ExecStart=/usr/bin/wyn-agent --config /etc/wyncommand/agent-prod.toml

Restart=always
RestartSec=2

NoNewPrivileges=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectControlGroups=true

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target